/* Global styles (for all devices) */

html, body {
    max-width: 100%;
    overflow-x: visible;
}

body {
    margin: 0px;
    background-color: #ccc
}

button {
    background-color: #73747a;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
}

.title {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color: #545458;
}

.input {
    position: absolute;
    top: 25vh;
}

.input.graphing {
    top: 10px;
}

.graph {
    position: absolute;
    top: 55px;
}

.controls {
    position: absolute;
}

.controls p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.constant {
    color: green;
}

.variable {
    color: #0800dd;
}

.error {
    color: red;
}

.drag-number {
    text-decoration: underline; 
    color: #080;
    cursor: ew-resize;
}

.help {
    position: absolute;
    overflow-x: visible;
}

.tooltip {
    visibility: hidden;
    position: fixed;
    background-color: lightblue;
    border: 1px solid black;
    padding: 2px;
    max-width: 200px;
    z-index: 100;
}

.help:hover .tooltip {
    visibility: visible;
    transition: visibility;
    transition-delay: 0.5s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    z-index: 100;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    z-index: 100;
}

/* Device-Specific Styles */

/* Smartphones (portrait and landscape) ----------- */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 800px) {
    .help {
        visibility: hidden;
    }
}


/* Smartphones (landscape) ----------- */
/*
@media only screen 
and (min-width : 451px) 
and (max-width : 800px{
}
*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 499px) {
    .title {
        font-size: 8vw;
    }
    .logo {
        position: relative;
        top: 0.25em; 
        width: 9vw; 
    }
    .graph {
        position: relative;
        top: 2px;
        width: calc(100vw - 4px);
        height: 40vh;
        left: 2px;
    }

    #controls-container {
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 5px;
    }

    #settings {
        width: 50%;
        display: table-cell;
    }

    #variables {
        width: 50%;
        display: table-cell;
    }

    .input {
        position: absolute;
        left: 0px;
        top: 25vh;
    }

    .input.graphing {
        position: relative;
        top: 0px;
    }

    .input .entry {
        width: 100vw;
        display: flex;
    }

    .controls-separator {
        display: none;
    }

    .edit {
        position: relative;
        height: auto;
        width: 100%;
        left: 0px;
        bottom: 0px;
    }
}

/* iPads (portrait and landscape) ----------- */
/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}
*/

/* iPads (landscape) ----------- */
/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}
*/

/* iPads (portrait) ----------- */
/*
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}
*/

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 500px) {
    .title {
        font-size: 5vw;
        width: calc(50vw + 215px);
    }

    .logo {
        position: relative;
        top: 0.2em; 
        width: 5vw; 
    }

    .graph {
        width: 50vw;
        height: 75vh;
        left: calc(25vw - 100px);
    }

    #controls-container {
        position: absolute;
        left: calc(75vw - 90px);
        top: 55px;
        width: 205px;
        height: calc(75vh - 5px);
    }

    .input {
        left: calc(25vw - 100px);
    }

    .input .entry {
        width: calc(50vw + 215px);
        display: flex;
    }

    .edit {
        position: absolute;
        left: calc(25vw - 100px);
        top: calc(60px + 75vh);
        width: calc(50vw + 215px);
        height: 30px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
}
