---
title: Michael Firmin
---
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>3D Function Visualizer</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/functiongrapher.css">
    <script src="static/functiongrapher.js"></script>
  </head>
<body>
  <div id="app">
    <div id="intro" :class="{ input: true, graphing: state === 'graphing' }">
      <div v-if="state === 'initial'" class="title">
      <img src="static/images/logo.png" class="logo">3D Function Visualizer</div>
      <div v-if="state === 'initial'" style="margin-top: 20px;">
      Enter an equation:
      </div>
      <eqn-input ref="input" @graph="updateEquation"></eqn-input>
      <div id="examples" v-if="state === 'initial'">
        Or try an example function:
        <button @click="example('clebsch')">Clebsch Diagonal Cubic</button>
        <button @click="example('kiss')">Kiss Surface</button>
        <button @click="example('plane')">Simple Plane</button>
        <button @click="example('sin')">z=sin(xy)</button>
      </div>
    </div>
    <main-graph ref="main" v-if="state === 'graphing'" class="graph"></main-graph>
    <div id="controls-container">
      <controls
        class="controls"
        :variables="variables"
        v-if="state === 'graphing'"
        @opacity-updated="opacityUpdated"
        @greyscale-updated="greyscaleUpdated"
        @brightness-updated="brightnessUpdated"
        @r-updated="rUpdated"
        @x-bounds-updated="xBoundsUpdated"
        @y-bounds-updated="yBoundsUpdated"
        @z-bounds-updated="zBoundsUpdated"
        @variable-changed="variableUpdated">
      </controls>
    </div>
    <eqn-edit class="edit" v-if="state === 'graphing'" :equationhtml="equationHtml" @coefficient-changed="updateCoefficient"></eqn-edit>
  </div>
  <script>
    // Mapping of method name to glsl equivalent
    const validFunctions = {
      abs: {
        glsl: 'abs',
        numArgs: 1,
      },
      ceil: {
        glsl: 'ceil',
        numArgs: 1,
      },
      exp: {
        glsl: 'exp',
        numArgs: 1,
      },
      floor: {
        glsl: 'floor',
        numArgs: 1,
      },
      log: {
        glsl: 'log',
        numArgs: 1,
      },
      log2: {
        glsl: 'log2',
        numArgs: 1,
      },
      max: {
        glsl: 'max',
        numArgs: 2,
      },
      min: {
        glsl: 'min',
        numArgs: 2,
      },
      mod: {
        glsl: 'mod',
        numArgs: 2,
      },
      round: {
        glsl: 'round',
        numArgs: 1,
      },
      sign: {
        glsl: 'sign',
        numArgs: 1,
      },
      sin: {
        glsl: 'sin',
        numArgs: 1,
      },
      asin: {
        glsl: 'asin',
        numArgs: 1,
      },
      arcsin: {
        glsl: 'asin',
        numArgs: 1,
      },
      acos: {
        glsl: 'acos',
        numArgs: 1,
      },
      arccos: {
        glsl: 'acos',
        numArgs: 1,
      },
      sqrt: {
        glsl: 'sqrt',
        numArgs: 1,
      },
      cos: {
        glsl: 'cos',
        numArgs: 1,
      },
      tan: {
        glsl: 'tan',
        numArgs: 1,
      },
      atan: {
        glsl: 'atan',
        numArgs: 1,
      },
      atan2: {
        glsl: 'atan',
        numArgs: 2,
      },
      arctan: {
        glsl: 'atan',
        numArgs: 1,
      },
      arctan2: {
        glsl: 'atan',
        numArgs: 2,
      },
    };

    nodeId = 0;

    function pushVariable(value, output) {
      output.push({
        type: 'variable',
        id: value.toString(),
        value: 0.0,
      });
    }

    function pushStatic(value, output, glsl = null) {
      if (glsl === null) {
        glsl = value;
      }
      const ol = output.length;
      if (ol === 0 || output[ol - 1].type !== 'static') {
        output.push({
          type: 'static',
          value,
          glsl,
        });
      } else {
        output[ol - 1].value += value;
        output[ol - 1].glsl += glsl;
      }
    }

    function pushCoefficient(value, output) {
        output.push({
          type: 'coefficient',
          value: value,
          id: (nodeId++).toString(),
        });
    }

    function pushPower(left, right, output) {
      const inner = [];
      toHtml(left, inner);
      const node = {
        type: 'power',
        value: inner,
        power: right,
      };

      output.push(node);
    }

    function toHtml(node, output) {
      if (FG.math.type.isConstantNode(node)) {
        pushCoefficient(node.value, output);
      } else if (FG.math.type.isSymbolNode(node)) {
        const val = node.name.toLowerCase();
        if (FG.math[val] !== undefined && typeof FG.math[val] === 'number') {
          pushStatic(val, output, FG.math[val]);
        } else {
          for (let i = 0; i < val.length; i++) {
            let symbol = val[i];
            if (symbol === 'x' || symbol === 'y' || symbol === 'z') {
              const glsl = i === val.length - 1 ? symbol : `${symbol} * `;
              pushStatic(symbol, output, glsl);
            } else {
              pushVariable(symbol, output);
              if (i < val.length - 1) {
                pushStatic('', output, ' * ');
              }
            }
          }
        }
      } else if (FG.math.type.isParenthesisNode(node)) {
        pushStatic('(', output);
        toHtml(node.content, output);
        pushStatic(')', output);
      } else if (FG.math.type.isOperatorNode(node)) {
        const { args, fn, op } = node;
        if (args.length === 2) {
          if (op === '^') {
            if (FG.math.type.isConstantNode(args[1]) && Number.isInteger(args[1].value)) {
              pushPower(args[0], args[1].value, output);
            } else {
              throw new Error('Powers must be positive, constant integers');
            }
          } else {
            toHtml(args[0], output) ;
            if (op !== '*' || FG.math.type.isConstantNode(args[0])) {
              pushStatic(` ${op} `, output);
            } else {
              pushStatic('', output, ' * ');
            }
            toHtml(args[1], output);
          }
        } else if (args.length === 1 && (fn === 'unaryMinus' || fn === 'unaryPlus')) {
          if (FG.math.type.isConstantNode(args[0])) {
            const value = Number(`${op}${args[0].value}`);
            pushCoefficient(value, output);
          } else {
            pushStatic(` ${op}`, output);
            toHtml(args[0], output);
          }
        } else {
          throw new Error(`Unknown/unsupported operator ${fn}`);
        }
      } else if (FG.math.type.isFunctionNode(node)) {
        const fn = node.fn.name;
        if (validFunctions[fn] === undefined) {
          throw new Error(`Unknown or unsupported function ${fn}`);
        }
        if (validFunctions[fn].numArgs !== node.args.length) {
          throw new Error(`Function "${fn}" expects ${validFunctions[fn].numArgs} arguments. Got ${node.args.length} instead.`);
        }
        pushStatic(`${fn}(`, output, `${validFunctions[fn].glsl}(`);
        for (let i = 0; i < node.args.length; i++) {
          const param = node.args[i];
          toHtml(param, output);
          if (i < node.args.length - 1) {
            pushStatic(', ', output);
          }
        }
        pushStatic(')', output);
      } else {
        console.warn('UNKNOWN NODE TYPE!');
        console.warn(node);

        throw new Error(`Bad syntax or unsupported functionality`);
      }
    }

    const app = new FG.lib.Vue({
      el: '#app',
      data: {
        state: 'initial', // or 'graphing'
        equation: '',
        variables: {},
      },
      methods: {
        updateEquation: function(event) {
          if (this.state !== 'graphing') {
            history.pushState({ equation: event.newEquation }, "graphing");
            this.state = 'graphing';
          }
          this.equation = event.newEquation;
        },
        example: function(which) {
          let equation = '';
          switch (which) {
            case 'clebsch':
              equation = '81.0(x ^ 3 + y ^ 3 + z ^ 3) - 189.0(x ^ 2*y + x^2*z + y^2*x + y^2*z+ z^2*x + z^2*y) + 54.0(x*y*z) + 126.0(x*y+x*z+y*z) - 9.0(x^2+y^2+z^2) - 9.0(x+y+z) + 1.0';
              break;
            case 'kiss':
              equation = '1z^4 - 1z^5 - 1x^2 - 1y^2';
              break;
            case 'plane':
              equation = '1x - (z + 0)';
              break;
            case 'sin':
              equation = 'sin(1x*y) - 1z';
              break;
            default:
              // Error, unknown example!
              return;
          }

          this.$refs.input.equation = equation;
          this.$refs.input.graph();
        },
        updateCoefficient: function(val) {
          this.$refs.main.updateCoefficient(val.id, val.value);
        },
        opacityUpdated: function(val) {
          this.$refs.main.setOpacity(val.value);
        },
        greyscaleUpdated: function(val) {
          this.$refs.main.setGreyscale(val);
        },
        rUpdated: function(val) {
          this.$refs.main.setR(val.value);
        },
        brightnessUpdated: function(val) {
          this.$refs.main.setBrightness(val.value);
        },
        xBoundsUpdated: function(val) {
          this.$refs.main.setXBounds(val.value);
        },
        yBoundsUpdated: function(val) {
          this.$refs.main.setYBounds(val.value);
        },
        zBoundsUpdated: function(val) {
          this.$refs.main.setZBounds(val.value);
        },
        variableUpdated: function(val) {
          this.$refs.main.updateCoefficient(val.id, val.value);
        },
      },
      computed: {
        equationHtml() {
          const output = [];
          try {
            const node = FG.math.parse(this.equation);
            toHtml(node, output);
            const variables = {};
            for (let i = 0; i < output.length; i++) {
              if (output[i].type === 'variable' && variables[output[i].id] === undefined) {
                variables[output[i].id] = {
                  value: output[i].value,
                  id: (nodeId++).toString(),
                };
              }
            }
            this.$nextTick(() => {
              this.$refs.main.setEquation(output);
              this.variables = variables;
            });
            return output;
          } catch (e) {
            return [{
              type: 'error',
              value: `Error: ${e.message}`,
            }];
          }
        },
      },
    });

    window.addEventListener('popstate', (state) => {
      location.reload();
    });
  </script>
</body>
</html>
